@import "node_modules/bootstrap-icons/font/bootstrap-icons.css";
body{
    direction: rtl !important;
}
 table{
    direction: rtl;
 }

 .title{
    direction: rtl;
    margin-right: 5%;
    font-size: large;
    font-weight: bolder;
    padding: 1%;
 }

 .button-container{
    margin:1% 0 1% 5%;
 }

 .primary-custom-buttom{
    margin:1% 5%;
    float: left;
 }

 